name: Metrics

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate PR metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ${{ github.repository_owner }}

          filename: pr-metrics.svg

          # Hapus semua base stats
          base: ""

          # Aktifkan hanya PR / Issue follow-up
          plugin_followup: yes
          plugin_followup_sections: user
