name: Metrics

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ${{ github.repository_owner }}

          filename: github-metrics.svg

          # Bagian utama
          base: header, activity, repositories

          # Contribution calendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          # Pull Requests & Issues
          plugin_followup: yes

          # Private contributions
          commits_authoring: yes
